extends layout
block content
    br
    h5 Societatea comerciala #{title} isi desfasoara activitatea in domeniul masuratorilor topografice si cadastrale.
    br
    h5 Servicii: 
    br
    ul.activitati
      li Cadastrale
        ul
           li
             span.x(placement="right", data-toggle="tooltip",title="Reprezinta operatiunea de atribuire numar cadastral si intabulare (inscriere in cartea funciara) pentru un apartament (garsoniera, 2, 3, 4 sau mai multe camere) situat intr-un imobil vechi sau nou (bloc sau casa).") Intabulari apartamente
           li
             span.x(data-toggle="tooltip",title="Reprezinta operatiunea de atribuire numar cadastral si intabulare (inscriere in cartea funciara) pentru un teren situat in intravilan sau extravilan, care are sau nu constructii vechi edificate.") Intabulari terenuri
           li Intabulari constructii noi
           li Dezlipiri sau alipiri proprietati
           li Inscrieri sau radieri constructii
           li Reconstituiri de proprietati si carti funciare
           li Documentatii pentru obtinerea numarului cadastral (plan parcelar)
           li Delimitari cadastrale ale teritoriilor administrative
      li Topografice
        ul
           li Planuri topografice de situatie
              ul
                 li Planuri de urbanism generale
                 li Planuri de urbanism zonale
                 li Planuri de urbanism detaliate
                 li Planuri de situatie incluzand curbe de nivel
           li Intrarusare
           li Calcule volumetrice
           li Profile transversale si longitudinale
           li Lucrari de topografie inginereasca
              ul
                  li Trasari limite de proprietate
                  li Realizare retelei topografice de constructive
                  li Trasari constructii pe faze de executie
                  li Trasari utilaje industrial;
                  li Trasari cai de comunicatie.
                                                 
    | <a href="https://plus.google.com/110363092005125934147" rel="publisher">Google+</a>             
