extends layout
block content
	h2 Intrebari frecvente
	br
	article.question
		.accordion#questionsaccordion
			.accordion-group
				.accordion-heading
					a(class='accordion-toggle', data-toggle='collapse', data-parent='questionsaccordion', href='#collapseOne') 
						| Ce documente sunt necesare pentru inscrierea in Cartea Funciara a imobilelor obtinute prin contract de vanzare-cumparare?
				.accordion-body.collapse.in#collapseOne
					.accordion-inner
						ul
							li Copie legalizata dupa contractul de vanzare-cumparare;
							li Copie legalizata dupa procesul-verbal de predare-primire a apartamentului;
							li Copie legalizata dupa adeverinta de achitare integrala in cazul platii in rate;
							li Copie dupa buletinul sau cartea de identitate a proprietarului/proprietarilor;
							li Certificat de neurmarire fiscala;
							li Copie dupa schita anexa la contract;
				.accordion-heading
					a(class='accordion-toggle', data-toggle='collapse', data-parent='questionsaccordion', href='#collapseTwo')
						| Ce documente sunt necesare pentru inscrierea in cartea funciara a imobilelor obtinute prin Titlu de Proprietate?
				.accordion-body.collapse#collapseTwo
					.accordion-inner
						ul
							li Copie legalizata dupa Titlu de Proprietate;
							li Adeverinta de rol;
							li Certificat de neurmarire fiscala;
							li Copie dupa buletinul sau cartea de identitate a proprietarului/proprietarilor;
							li Plan parcelar avizat de catre Primar;

				.accordion-heading
					a(class='accordion-toggle', data-toggle='collapse', data-parent='questionsaccordion', href='#collapseThree')
						| Ce documente sunt necesare pentru inscrierea in cartea funciara a imobilelor obtinute prin contract de vanzare-cumparare?
				.accordion-body.collapse#collapseThree
					.accordion-inner
						ul
							li Contract de vanzare-cumparare original sau copie legalizata;
							li Copie dupa schita anexa la contract;
							li Copie dupa buletinul sau cartea de identitate a proprietarului/proprietarilor;
							li Certificat de neurmarire fiscala;
							li Adeverinta de rol;
							li Plan parcelar avizat de Primar.
							li Certificat de sarcini - dupa caz

				.accordion-heading
					a(class='accordion-toggle', data-toggle='collapse', data-parent='questionsaccordion', href='#collapseFour')
						| Ce documente sunt necesare pentru inscrierea dreptului de proprietate dobandit prin mostenire?
				.accordion-body.collapse#collapseFour
					.accordion-inner
						ul
							li Certificat de Mostenitor- copie legalizata;
							li Titlul de Proprietate-copie legalizata;
							li Contract de Partaj-Voluntar-copie legalizata - dupa caz;
							li Copie dupa buletinul sau cartea de identitate a proprietarului/proprietarilor;
							li Certificat de neurmarire fiscala;
							li Adeverinta de rol;
							li Plan parcelar avizat de Primar;
				
				.accordion-heading
					a(class='accordion-toggle', data-toggle='collapse', data-parent='questionsaccordion', href='#collapseFive')
						| Ce documente sunt necesare pentru inscriera in Cartea Funciara a constructiilor noi?
				.accordion-body.collapse#collapseFive
					.accordion-inner
						ul
							li Copie dupa actul de proprietate;
							li Copie dupa documentatia cadastrala;
							li Aviz favorabil de scoatere din circuitul agricol;
							li Decizia directorului D.A.D.R. de scoatere din circuitul agricol a terenului;
							li Copie dupa buletinul sau cartea de identitate a proprietarului/proprietarilor;
							li Extras de carte funciara pentru informare- actualizat;
							li Certificat de neurmarire fiscala cu valoarea de impunere a constructiei;
							li Adeverinta de rol;
							li Proces verbal de receptie finala;
							li Autorizatie de construire;
				

				.accordion-heading
					a(class='accordion-toggle', data-toggle='collapse', data-parent='questionsaccordion', href='#collapseSix')
						| Ce documente sunt necesare pentru inscrierea dreptului de proprietate dobandit prin sentinta?
				.accordion-body.collapse#collapseSix
					.accordion-inner
						ul
							li Copie dupa buletinul sau cartea de identitate a proprietarului/proprietarilor;
							li Sentinta civila - conform cu originalul;
							li Raport de expertiza - conform cu originalul;
							li Certificat de neurmarire fiscala;
							li Copie legalizata dupa Titlul de proprietate;
							li Adeverinta de rol;
							li Plan parcelar avizat de Primar;
							li Dovada achitarii impozitului pe transferul de proprietate, in cazul in care dezbaterea succesorala s-a facut prin hotarare judecatoreasca;

				.accordion-heading
					a(class='accordion-toggle', data-toggle='collapse', data-parent='questionsaccordion', href='#collapseSeven')
						| Care sunt documentele necesare in cazul actualizarii datelor documentatiilor cadastrale inscrise in Cartea Funciara?
				.accordion-body.collapse#collapseSeven
					.accordion-inner
						ul
							li Copie dupa buletinul sau cartea de identitate a proprietarului/proprietarilor;
							li Extras de Carte Funciara pt informare-actualizat;
							li Incheiere de Intabulare;
							li Contract de vanzare-cumparare;
							li Schita Cadastrala;
							li Plan parcelar-avizat de Primar;
							li Declaratie notariala;

				.accordion-heading
					a(class='accordion-toggle', data-toggle='collapse', data-parent='questionsaccordion', href='#collapseEight')
						| Care sunt documentele necesare pentru in Cartea Funciara a imobilelor adjudecate prin licitatie?
				.accordion-body.collapse#collapseEight
					.accordion-inner
						ul
							li Copie dupa buletinul sau cartea de identitate a proprietarului/proprietarilor;
							li Proces verbal de licitatie;
							li Act de adjudecare sau contract de vanzare-cumparare autentic;
							li Certificat de neurmarire fiscala cu valoarea de impunere a imobilului;
							li Adeverinta de achitare integrala;
							li Plan parcelar avizat de Primar;
				.accordion-heading
					a(class='accordion-toggle', data-toggle='collapse', data-parent='questionsaccordion', href='#collapseNine')
						| Care sunt documentele necesare in cazul documentatiilor de plan topografic?
				.accordion-body.collapse#collapseNine
					.accordion-inner
						ul
							li Copie dupa buletinul sau cartea de identitate a proprietarului/proprietarilor;
							li Extras de Carte Funciara pt informare-actualizat;
							li Incheiere de Intabulare;
							li Certificat de Urbanism;
							li Extras de Plan Cadastral;
							li Contract de vanzare-cumparare;
							li Schita Cadastrala;
