extends layout
block content
	h2 Servicii
	hr
	ul
		li	
			article
				h5 Cadastrale
				ul
					li Intabulari apartament
					li Intabulari terenuri
					li Intabulari constructii noi
					li Dezlipiri sau alipiri proprietati
		li
			article 
				h5 Topografice
				ul
					li Planuri topografice de situatie
					li Intrarusare
				
